table[datatable] {
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
}

table[datatable] > thead > tr > th:hover{
  background: #F9F9F9;
}

.arrow-nav {
  padding: 0 10px 0 !important;
  background-color: #05396d;
  color: white !important;
  border: 1px #05396d solid;
}

.badge-select {
    display: inline-block !important;
    min-width: 10px !important;
    font-size: 12px !important;
    font-weight: bold !important;
    line-height: 1 !important;
    vertical-align: middle !important;
    white-space: nowrap !important;
    text-align: center !important;
    border-radius: 10px !important;
}

table.riepilogo-ore {
  font-size: 90%;
}

table > thead > tr.warning {
  background-color: #fcf8e3;
}

table > tbody > tr > td.success,
table > tbody > tr.success  {
  background-color: #dff0d8;
}

table > tbody > tr > td.warning,
table > tbody > tr.warning {
  background-color: #fcf8e3;
}

table > tbody > tr > td.danger,
table > tbody > tr.danger {
  background-color: #f2dede;
}
