@import url("//fonts.googleapis.com/css?family=Shadows+Into+Light");

html,
body {
  padding: 0;
  margin: 0;
}

a {
    color: #337ab7;
    text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  display: flex;
  height: 100%;
  flex-direction: column !important;
}

main {
  padding:0px 10px 15px;
}

nav {
  padding: 0 10px 0 !important;
  background-color: #05396d;
  color: white !important;
  border-bottom: 1px #031f3c solid;
}

.navbar-brand {
  font-family: 'Shadows Into Light', cursive !important;
  font-size: 200% !important;
  padding: 1px 15px !important;
}

.nav-item {
    padding: 0 !important;
    padding-right: 15px !important;
}

h2.accordion-header, 
h2.accordion-header > button[aria-expanded=true], 
h2.accordion-header > button[aria-expanded=false] {
  background-color: #337ab7;
  color: white !important;
}

button.accordion-button[aria-expanded=true]::after,
button.accordion-button[aria-expanded=false]::after {
  color: white !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

div.accordion-body h4 {
  font-size: 110%;
  font-weight: normal;
  padding-bottom: 0.1em;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well-lg {
  padding: 24px;
  border-radius: 0px;
}

.holiday {
             background-color: #fff7e0 !important;
             color: #353535 !important;
             opacity: .7 !important;
             text-align: center !important;
             padding-top: .6em !important;
         }

.fc-col-header-cell-cushion, .fc-daygrid-day-number {
color: #333 !important;
}

 .fc-button-primary {
   border: 1px solid !important;
       background-color: #f5f5f5 !important;
       background-image: -moz-linear-gradient(top, #fff, #e6e6e6) !important;
       background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6)) !important;
       background-image: -webkit-linear-gradient(top, #fff, #e6e6e6) !important;
       background-image: -o-linear-gradient(top, #fff, #e6e6e6) !important;
       background-image: linear-gradient(to bottom, #fff, #e6e6e6) !important;
       background-repeat: repeat-x !important;
       border-color: #e6e6e6 #e6e6e6 #bfbfbf !important;
       border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25) !important;
       color: #333 !important;
       text-shadow: 0 1px 1px rgba(255, 255, 255, .75) !important;
       box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05) !important;
 }